body{
    margin: 0;
    padding: 0;
    background-color: rgb(68, 96, 119);
    color: #2b2f55;
    line-height: 1.7;
    text-align: right;
}

header{
    background-color: #f5f5f8;
    color: rgb(67, 90, 151);
    text-align: right;
    padding: 40px 20px;
}

header .profile img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid rgb(67, 90, 151);
    margin-bottom: 15px;
}

header h1{
    margin: 0;
    font-size: 2.5em;
}

header p{
    margin: 5px 0 0;
    font-size: 1.2em;
}

main{
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section{
    background-color: white;
    margin: 20px ;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 2px 5px blue black white antiquewhite; */
}

section h2{
    border-bottom: 2px solid ;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    margin-bottom: 10px;
}

a{
    color: #081fee;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}